
<div ng-controller="dataController as dc">
    <div class="panel">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead class="table-head-background-color">
                    <tr>
                        <th><b class="table-head-text-color">#</b></th>
                        <th ng-click="dc.changeFilterType('DateTime')"><b class="table-head-text-color">Date</b></th>
                        <th ng-click="dc.changeFilterType('InputAmount')"><b class="table-head-text-color">Input amount</b></th>
                        <th ng-click="dc.changeFilterType('InputCurrency.Name')"><b class="table-head-text-color">Input currency</b></th>
                        <th ng-click="dc.changeFilterType('OutputAmount')"><b class="table-head-text-color">Output Amount</b></th>
                        <th ng-click="dc.changeFilterType('OutputCurrency.Name')"><b class="table-head-text-color">Output currency</b></th>
                        <th><b class="table-head-text-color">instruments</b></th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="order in dc.list| orderBy: dc.filterType">
                            <!--<form name="editForm" novalidate>-->
                                <td>
                                    <div> {{$index+1}}</div>
                                </td>
                                <td>
                                    <div>
                                        {{order.DateTime}}
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="order.IsEditMode">
                                        {{order.InputAmount}}
                                    </div>
                                    <div ng-show="order.IsEditMode">
                                        <form name="InputAmountForm"><input  type="number" placeholder="{{order.InputAmount}}" class="form-control" required ng-model="newOrder.InputAmount"></form>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="order.IsEditMode">
                                        {{order.InputCurrency}}
                                    </div>
                                    <div ng-show="order.IsEditMode">
                                        <form name="InputCurrencyForm">
                                            <select class="form-control" ng-model="newOrder.InputCurrency" required>
                                                <option>UAH</option>
                                                <option>USD</option>
                                                <option>EUR</option>
                                            </select>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="order.IsEditMode">
                                        {{order.OutputAmount}}
                                    </div>
                                    <div ng-show="order.IsEditMode">
                                        <form name="OutputAmountForm"> <input type="number" placeholder="{{order.OutputAmount}}" class="form-control" required ng-model="newOrder.OutputAmount"></form>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="order.IsEditMode">
                                        {{order.OutputCurrency}}
                                    </div>
                                    <div ng-show="order.IsEditMode">
                                        <form name="OutputCurrencyForm">
                                            <select class="form-control" ng-model="newOrder.OutputCurrency" required>
                                                <option>UAH</option>
                                                <option>USD</option>
                                                <option>EUR</option>
                                            </select>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div ng-hide="order.IsEditMode">
                                            <button type="button" class="btn btn-danger btn-sm" ng-click="dc.removeOperation(order.Id)">delete</button>
                                            <button type="button" class="btn btn-default btn-sm" ng-click="dc.startEditOperation(order.Id)">edit</button>
                                        </div>
                                        <div ng-show="order.IsEditMode">
                                            <button type="button" class="btn btn-success btn-sm" ng-click="dc.editOperation(order.Id, newOrder)" ng-disabled="InputAmountForm.$invalid">OK</button>
                                            <button type="button" class="btn btn-default btn-sm" ng-click="dc.cancelEditOperation(order.Id)">cancel</button>
                                        </div>
                                    </div>
                                </td>
                            <!--</form>-->
                          </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-body">
                <a class="btn btn-default" href="/add" role="button">New operation</a>
        </div>
    </div>
</div>

