
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <b class="header-text">EXCHANGE MANAGER</b>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel">
        <div ng-view></div>
    </div>
</div>

@*<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <b class="header-text" >made by bagas</b>
        </div>
    </div>
</div>*@
